<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <% if (student !== null) { %>
    <title>Ispiti za <%= student.username %>!</title>
    <% } else { %>
    <title>Nepoznat student!</title>
    <% } %>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <nav>
            <a href="/">Izloguj se iz sistema</a>

            <form action="/student" method="POST">
                <input type="text" id="username" name="username"
                        value="<%= student.username %>" hidden>
                
                <input type="password" id="password" name="password" 
                    value="<%= student.password %>" hidden>
            
                <input type="submit" value="|   Profil">
            </form>

            <form action="/exam" method="POST">
                <input type="text" id="username" name="username"
                        value="<%= student.username %>" hidden>
                
                <input type="password" id="password" name="password" 
                    value="<%= student.password %>" hidden>
            
                <input type="submit" value="|   Ispiti">
            </form>
            
            <form action="/results" method="POST">
                <input type="text" id="username" name="username"
                        value="<%= student.username %>" hidden>
                
                <input type="password" id="password" name="password" 
                    value="<%= student.password %>" hidden>
            
                <input type="submit" value="|   Rezultati">
            </form>
        </nav>
    </header>
    <main class="container">
        <% if (student !== null && exams !== null) {  %>
        <h1>Ispiti za studenta <%= student.username %></h1>

        <div class="row">
            <div class="col-md-6">
                <h3>Informacije:</h3>
                <table class="table">
                    <tr>
                        <th> Predmet </th> 
                        <th> Datum polaganja </th>
                        <th> Ocena </th>
                    </tr>

                    <% for (let exam of exams) { 
                        let date = exam['date'];
                        let day = date.getDate();
                        let month = date.getMonth() + 1;
                        let year = date.getFullYear();
                        let dateString = `${day}.${month}.${year}`;
                    %>
                        <tr>
                            <td> <%= exam['subject'] %> </td>
                            <td> <%= dateString %> </td>
                            <td> <%= exam['grade'] %> </td>
                        </tr>
                        
                    <%
                        }
                    %>
                </table>
            </div>

            <div class="col-md-6">
                <h3>Dodaj ispit</h3>
                <form id="create" action="/exam/create" method="POST">
                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control"
                            value="<%= student.username %>" hidden>
                    </div>

                    <div class="form-group">
                        <label for="subject" class="form-label">Predmet</label>
                        <input type="text" id="subject" name="subject" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="date" class="form-label">Datum polaganja</label>
                        <input type="date" id="date" name="date" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="grade" class="form-label">Ocena</label>
                        <input type="text" id="grade" name="grade" class="form-control">
                    </div>

                    <input type="submit" value="Dodaj ispit" class="btn btn-primary">
                </form>
                
                <br> <br> <br> 
                <h3>Izmeni ispite</h3>
                <form id="update" action="/exam/update" method="POST">
                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control"
                            value="<%= student.username %>" hidden>
                    </div>

                    <input type="submit" value="Izmeni ispite" class="btn btn-primary">
                </form>
                
                <br> <br> <br> 
                <h3>Obriši ispite</h3>
                <form id="delete" action="/exam/delete" method="POST">
                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control"
                            value="<%= student.username %>" hidden>
                    </div>

                    <div class="form-group">
                        <label for="subject" class="form-label">Predmet</label>
                        <input type="text" id="subject" name="subject" class="form-control">
                    </div>

                    <input type="submit" value="Obriši ispite" class="btn btn-primary">
                </form>
            </div>
        </div>
        <% } else { %>
        <h1>Student nije polagao nijedan ispit!</h1>
        <% } %>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/exam.js"></script>
</body>

</html>