<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <% if (student !== null) { %>
    <title>Dobrodošli <%= student.username %>!</title>
    <% } else { %>
    <title>Nepoznat student ili pogrešna lozinka!</title>
    <% } %>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <nav>
            <a href="/">Izloguj se iz sistema</a>
        </nav>
    </header>
    <main class="container">
        <% if (student !== null) { %>
        <h1>Studentska stranica za studenta <%= student.username %></h1>

        <h3>Informacije:</h3>
        <table class="table">
            <% 
            for (const key in student) { 
            %>
                <tr>
                    <td>
                        <%= key %>
                    <td>
                    <td>
                        <% 
                        if (key === 'password') { 
                        %>
                            <%= student[key].replace(/./g, '*'); %>
                        <%    
                        } else { 
                        %>
                            <%= student[key] %>
                        <% 
                        } 
                        %>
                    <td>
                </tr>
            <% } %>
        </table>

        <div class="row">
            <div class="col-md-6">
                <h3>Izmenite podatke</h3>
                <form action="/student/update" method="POST">
                    <div class="form-group">
                        <label for="username" class="form-label">Korisničko ime</label>
                        <input type="text" id="username" name="username" class="form-control"
                            value="<%= student.username %>" readonly>
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label">Lozinka</label>
                        <input type="password" id="password" name="password" class="form-control"
                            value="<%= student.password %>">
                    </div>

                    <div class="form-group">
                        <label for="name" class="form-label">Ime</label>
                        <input type="name" id="name" name="name" class="form-control" value="<%= student.name %>">
                    </div>

                    <div class="form-group">
                        <label for="major" class="form-label">Oblast</label>
                        <input type="major" id="major" name="major" class="form-control" value="<%= student.major %>">
                    </div>

                    <input type="submit" value="Izmeni podatke" class="btn btn-primary">
                </form>
            </div>
            <div class="col-md-6">
                <h3>Obrišite podatke</h3>
                <form action="/student/delete" method="POST">
                    <div class="form-group">
                        <label for="username" class="form-label">Korisničko ime</label>
                        <input type="text" id="username" name="username" class="form-control"
                            value="<%= student.username %>" readonly>
                    </div>

                    <input type="submit" value="Obriši podatke" class="btn btn-primary">
                </form>
            </div>
        </div>
        <% } else { %>
        <h1>Ne postoje informacije za unetog studenta<br>ili ste uneli neispravnu lozinku!</h1>
        <% } %>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/student.js"></script>
</body>

</html>